{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block title %}

    {% endblock %}

    {% block head %}

    {% endblock %}
  </head>
  <body>
<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <img style="width: 6%" src="{% static 'image/controle.png' %}"/>
    <div class="nav-title">
      PlayStoreBR
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a href="/" >Início</a>
    <a href="{% url 'funcionario' %}" >Área do Funcionário</a>
    <a href="{% url 'revisar_carrinho' %}" style="color: rgba(35,241,30,0.83);">Carrinho {{ count_jogos_no_carrinho }}</a>


  </div>

</div>
{% block content %}


{% endblock %}
  </body>
</html>