<!-- templates/jogos/compra_sucesso.html -->
{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block title %}
<title>Compra</title>
{% endblock %}

{% block head %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}

{% block content %}
  <div id="textoResultado">
    <h2>Compra Realizada com Sucesso</h2>
    <p>Obrigado por sua compra! Abaixo estão os detalhes:</p>
  </div>
  <div id="compras">
    <ul>
      {% for compra in compras %}
        <li>{{ compra.jogo }} - {{ compra.midia }}</li>
      {% endfor %}
    </ul>
  </div>
    <div class="contLinkVolta">
      <a href="{% url 'index' %}">Voltar para a busca de jogos</a>
    </div>
{% endblock %}
