<!-- templates/jogos/revisar_carrinho.html -->
{% extends 'base.html' %}

{% block content %}
  <h2>Revisar Carrinho</h2>

  <form method="post" action="{% url 'revisar_carrinho' %}">
    {% csrf_token %}
    <ul class="lista-carrinho">
      {% for jogo in jogos_no_carrinho %}
        <li class="jogo-no-carrinho">
          <p>{{ jogo.nome }}</p>
          <label for="midia_fisica_{{ jogo.id }}">Mídia Física:</label>
          <input type="checkbox" name="midia_fisica_{{ jogo.id }}" id="midia_fisica_{{ jogo.id }}">
          <label for="midia_digital_{{ jogo.id }}">Mídia Digital:</label>
          <input type="checkbox" name="midia_digital_{{ jogo.id }}" id="midia_digital_{{ jogo.id }}">
        </li>
      {% endfor %}
    </ul>
    <button type="submit">Finalizar Compra</button>
  </form>

  <a href="{% url 'index' %}">Voltar para a busca de jogos</a>
{% endblock %}
