{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Detalhes</title>
{% endblock %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}

{% block content %}

  <div id="textoTituloE">
    <h2>{{ jogo.nome }}</h2>
  </div>

    <div class="estiloEdita">
      <img src="{{ jogo.imagem.url }}" alt="{{ jogo.nome }}" width="300" height="300">
    </div>

  <div class="textos">
    <h2>Tema: {{ jogo.tema }}</h2>
    <p id="desc">Descrição: {{ jogo.descricao }}</p>
    <p id="nota">Nota: {{ jogo.sistema_avaliacao }}</p>
  </div>


{% endblock %}